<h1>アンケート結果</h1>

<h2>質問1 : マンションの住み心地はいかがですか？</h2>
<%= pie_chart @question1 %>

<h2>質問2 : 人におすすめできるマンションですか？</h2>
<%= pie_chart @question2 %>

<h2>質問3 : 特に何が気に入っていますか？</h2>
<%= pie_chart @question3 %>
